body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 40px;
}

input,
button {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.password-wrapper {
  position: relative;
}

.toggle-eye {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  opacity: 0.6;
}

.toggle-eye:hover {
  opacity: 1;
}
